* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
:root {
  --header-bg: #10375c;
  --primary-color: #2E80CE;
}
/* header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
}

.logo {
    /* 1em = 10px */
  font-size: 1em;
  position: relative;
}
.logo__circle::before,
.logo__circle::after{
    display: inline-block;
    content: "";
    border-radius: 50%;
}
.logo__circle::before{
    width: 3em;
    height: 3em;
    background: var(--primary-color);
}
.logo__circle::after{
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    position: absolute;
    top:
}
