* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Sora', sans-serif;
}
:root{
    prima
}
.header{
    min-height: 100vh;
    background: #000;
}